#toolbar button, #toolbar { 
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    overflow: hidden;
}

#toolbar {
    position: absolute;
    display: block;
    box-sizing:border-box;

    height: 36px;
    width: 100%;
    top: 0px;
    left: 0px;
    right: 0px;
    padding: 8px;
    padding-top: 5px;


    background: rgb(238,238,238); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(204,204,204,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
     
}

#toolbar button {
    font-family: 'Droid Sans', sans-serif;
    font-size: 14px;
}

.unsupported {
    font-family: 'Droid Sans', sans-serif;
    font-size: 18px;
    color: #222;
    padding: 30px;
}

.unsupported a {
  color: #222;
}

#helppanel {
    /* display: none; */
    visibility: hidden;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    min-height: 300px;
    z-index: 9999;

    padding: 30px;
    padding-top: 0px;

    background: -moz-linear-gradient(top,  rgba(0,0,0,0.78) 0%, rgba(0,0,0,0.59) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.78)), color-stop(100%,rgba(0,0,0,0.59))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.78) 0%,rgba(0,0,0,0.59) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0.78) 0%,rgba(0,0,0,0.59) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0.78) 0%,rgba(0,0,0,0.59) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0.78) 0%,rgba(0,0,0,0.59) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c7000000', endColorstr='#96000000',GradientType=0 ); /* IE6-9 */

    opacity: 0;
    -webkit-transition: opacity 0.2s ease-out; 
    transition-property: opacity;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;

    font-family: 'Droid Sans', sans-serif;
    font-size: 18px;
    color: #fff;


}

#helppanel h1 ,
.unsupported h1 {
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 50px;
}

#helppanel h1 em {

  text-decoration: underline;
  font-style: normal;

}

#helppanel li {
  margin: 5px;
}

#divDismissHelp {
  margin-top: 25px;
  text-align: center;
}

#fileSubmit {
  margin-top: 50px;
}

#btnDismissHelp {
  margin-top: 20px;
}

#btnDismissHelp,
#fileSubmit {
  margin: 10px;
  min-width: 300px;
  height: 50px;

}

#cancelOpen {
    float: right;
    cursor: pointer;
    font-size: 25px;
}

#btnDismissHelp,
#fileSubmit {
  background-color: #eee;
  border-style: 1px solid #000;

  moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	padding:6px 24px;
	text-decoration:none;
  font-weight: 700;

  font-family: 'Droid Sans', sans-serif;
  font-size: 18px;
  color: #333;

}

#btnDismissHelp:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}

#btnDismissHelp:active {
	position:relative;
	top:1px;
}


.logo {
  float: right;
  font-size: 24px;
  font-family: 'Droid Sans', sans-serif;
  color: #222;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 400;
}

.logo strong {
  font-weight: 700;
}

.logobeta {
 font-size: 8pt;
 color: #666;
}

.keyname {
  font-weight: 700;
  border: 1px solid #fff;
  -moz-border-radius: 6px;
  border-radius: 6px;
  padding: 2px 4px 2px 4px;
  background-color: #fff;
  color: #333;
  margin: 3px;
}

#canvas {
    position: absolute;
    display: block;
    height: auto;
    width: 100%;
    top: 36px;
    bottom 0px;
    background: #EEE;
    margin: 0px;
    padding: 0px;
    left: 0px;
    right: 0px;
}

#saveButtons {
  position: relative;
  display: inline;
  overflow-y: hidden;
}

#btnSave {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
}

#btnSaveDummy {
  top: 0px;
  left: 0px;
}

a {
	color: black;
}

#staging {
    
    visibility: hidden;

    font-family: 'Droid Sans', sans-serif;
    font-size: 18px;
    color: #fff;

    padding: 20px;

    background-color: #444;
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.78) 0%, rgba(0,0,0,0.59) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.78)), color-stop(100%,rgba(0,0,0,0.59))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.78) 0%,rgba(0,0,0,0.59) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0.78) 0%,rgba(0,0,0,0.59) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0.78) 0%,rgba(0,0,0,0.59) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0.78) 0%,rgba(0,0,0,0.59) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c7000000', endColorstr='#96000000',GradientType=0 ); /* IE6-9 */

    position: fixed;
    width: 500px;
    margin-left: -250px;
    height: 300px;
    margin-top: -150px;

    top: 50%;
    left: 50%;


	-moz-border-radius:12px;
	-webkit-border-radius:12px;
	border-radius:12px;
}

#staging h1 {
    font-weight: 400;
    margin-bottom: 10px;
    font-size: 50px;
}


#fileControls {
    text-align: center;
}


#fileOpen {
    margin: 30px;
    width: 400px;
}

p {
	margin: 30px 0;
	line-height: 20px;
}

.center {
	text-align: center;
}

textarea {
	display: none;
	width: 75%;
	height: 400px;
	margin: 0 auto;
}

