#saveButtons
  position relative
  display inline
  overflow-y hidden

#btnSave
  position absolute
  top 0px
  bottom 0px
  left 0px

#btnSaveHTML5
  top 0px
  left 0px

.logo
  float right
  font-size 24px
  font-family 'Droid Sans', sans-serif
  color #222
  -webkit-font-smoothing antialiased
  -moz-font-smoothing antialiased
  font-smoothing antialiased
  font-weight 400
  strong
    font-weight 700

.logobeta
  font-size 8pt
  color #666
