#saveButtons
  position relative
  display inline
  overflow-y hidden

#btnSave
  position absolute
  top 0px
  bottom 0px
  left 0px

#btnSaveHTML5
  top 0px
  left 0px

.toolicon
  padding-left 5px
  padding-right -3px
  font-size 18px
  vertical-align middle


label.toolfield
  font-family 'Droid Sans', sans-serif
  -webkit-font-smoothing antialiased
  -moz-font-smoothing antialiased
  font-smoothing antialiased
  font-size 13px
  color #333
  margin-left 5px

input.toolfield
  background-color #EEE
  border 1px dotted #222
  font-family 'Incosolata', monospace
  height 1em
  padding 4px

.logo
  float right
  font-size 24px
  font-family 'Droid Sans', sans-serif
  color #222
  -webkit-font-smoothing antialiased
  -moz-font-smoothing antialiased
  font-smoothing antialiased
  font-weight 400
  strong
    font-weight 700

.logobeta
  font-size 8pt
  color #666
