doctype 5
html(lang="en")
  head
    title FSMDesigner
    link(href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700', rel='stylesheet', type='text/css')
    link(href='stylesheets/fsm.css', rel='stylesheet', type='text/css')
    script(src='javascripts/vendor.js')
    script(src='javascripts/fsm.js')
    script require('main')

  body
    include ui/toolbar
    include ui/open_form
    include ui/text_field
    include ui/canvas
    include ui/help
        
    #backend
        form#genhdl(action="genhdl.php", method="POST")
            input#toHDL(name="fsm")


