canvas(id="canvas")
  div(class="unsupported")
    h1 Bummer!
    p It looks like your browser doesn't provide the tools we need to get working. Don't worry too much! 
    br
    br
    p You can always install a newer, better version of your current browser- or choose a standards-compliant browser like 
      a(href="http://www.google.com/chrome") Chrome
      span or 
      a(href="http://www.firefox.com") Firefox
      span !
