#helpPanel
  h1 This'll be <em>easy</em>.
  p Welcome to <strong>FSM</strong>Designer; a web-based tool for <em>Finite State Machine</em> entry. Capturing a Finite State Machine is easy! Just use the following controls:
  ul
    li <strong>Double click</strong> any blank space to create a new <em>state</em>.
    li <strong>Single click</strong> any existing <em>state</em> to edit its name.
    li <strong>Double click</strong> any existing <em>state</em> to edit its output (or outputs).
    li <strong>Click</strong> any existing <em>state</em> or <em>transition</em> then press <span class="keyname">Delete</span> to delete it. <br/> If you're using a mac laptop, you'll need to press <span class="keyname">Fn</span>+<span class="keyname">Delete</span>.
    li <strong><span class="keyname">Shift</span> + drag</strong> from one <em>state</em> to another to add a new <em>state transition</em>.
    li <strong><span class="keyname">Shift</span> + drag</strong> from a blank space to an existing <em>state</em> to add a new <em>reset transition</em>.
    li <strong><span class="keyname">Shift</span> + click</strong> any existing <em>state</em> to add a new <em>self-loop</em>.
    
    p Relax, and enjoy the FSM entry- <strong>FSM</strong>Designer has your back! <br/>  If you're using a modern browser, your work is constantly autosaved- so you're safe even if your browser crashes, or you accidentally navigate away.
    
    #divDismissHelp
      button#btnDismissHelp.icon-edit &nbsp;&nbsp;Let's get started!
