#staging
  i#cancelOpen.icon-remove-sign
  form#openform(action="open_helper.php", method="post", enctype="multipart/form-data")
    h1 Select a file:
    p Use the controls below to select the file you'd like to open:
    br
    #fileControls
      #fileOpenControl
        input#fileOpen(type="file", name="fileOpen", accept=".fsmd") 
        br
      input#fileSubmit(type="submit", name="fileSubmit", value="Open File")

#cancelOpen
  float right
  cursor pointer
  font-size 25px
